{% extends "base.html" %}
{% block content %}
    <h1>Indicators</h1>
    <div class="btn-group" role="group" aria-label="Choose indicator">
      <button type="button" class="btn btn-primary">Primary</button>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 45px, 0px);">
          <a class="dropdown-item" href="#StockPrices">Stock Prices</a>
          <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
      </div>
    </div>

    
    <h2 id="StockPrices"></h2>

    {{ div_placeholder }}
 
{% endblock %}
