{% extends "base.html" %}
{% block content %}
    <legend>Price forecasting</legend>
    <div class="table-responsive">
		<table class= "table table-sm">
            <tbody>
                <tr>
                <td><p class="text-success">
                    Symbol: <b>{{ symbol }}</b>
                    </p>
                </td>
                <td><p class="text-success">
                        Model: <b>{{ forecast_model_name }}</b>
                    </p>
                </td>
                <td><p class="text-success">
                        Lookback: <b>{{ forecast_lookback }} day(s)</b>
                    </p>
                </td>
                </tr>
                <tr>
                <td><p class="text-success">
                        Forecast date: <b>{{ forecast_date }}</b>
                    </p>
                </td>
                <td><p class="text-success">
                        Forecast: <b>{{ forecast_time }} day(s)</b>
                    </p>
                </td>
                <td><p class="text-success">
                        Forecast final date: <b>{{ forecast_final_date }}</b>
                    </p>
                </td>
                </tr>
            </tbody>
        </table>
    </div>

    {{ div_placeholder_stock_prices_pred }}
    <br><br>
    {% if model == "ARIMA" %}
        <div class="table-responsive">
            {{ summary }}
        </div>
    {% elif model == "XGBoost" %}
        <div class="table-responsive-md">
            {{ daily_return_percentage | safe }}
        </div>
    {% elif model == "KNN" %}
        <div class="table-responsive-md">
            {{ daily_return_percentage | safe }}
        </div>
    {% else %}
        <div class="table-responsive">
		<table class= "table table-sm">
			<thead>
			 <tr>
				 <th scope="col"><b>Metric</b></th>
				 <th scope="col"><b>Value</b></th>
			 </tr>
		 </thead>
			<tbody>
				<tr>
					<td>
                        <button type="button"
                                class="btn btn-outline-info btn-xs"
                                title="Coefficient determination R^2"
                                data-toggle="popover"
                                data-trigger="focus"
                                data-placement="right"
                                data-content="The best possible score is 1.0 and it can be negative (because the model can be arbitrarily worse). A constant model that always predicts the expected value of y, disregarding the input features, would get a R^2 score of 0.0."
                                data-original-title="Coefficient of determination R^2">
                                    <i class="fa fa-info-circle fa-xs"></i>
                        </button>
                        Coef. determ. R^2
                    </td>
					<td>{{ coef_deter }}</td>
				</tr>
				<tr>
					<td>
                        <button type="button"
                                class="btn btn-outline-info btn-xs"
                                title="Forecast Bias"
                                data-toggle="popover"
                                data-trigger="focus"
                                data-placement="right"
                                data-content="Mean forecast error, also known as the forecast bias. A forecast bias of zero, or a very small number near zero, shows an unbiased model."
                                data-original-title="Bias">
                                    <i class="fa fa-info-circle fa-xs"></i>
                        </button>
                        Bias
                    </td>
					<td>{{bias }}</td>
				</tr>
				<tr>
					<td>
                        <button type="button"
                                class="btn btn-outline-info btn-xs"
                                title="Mean Absolute Error"
                                data-toggle="popover"
                                data-trigger="focus"
                                data-placement="right"
                                data-content="A mean absolute error of zero indicates no error."
                                data-original-title="MAE">
                                    <i class="fa fa-info-circle fa-xs"></i>
                        </button>
                        MAE
                    </td>
					<td>{{ mae }}</td>
				</tr>
				<tr>
					<td>
                        <button type="button"
                                class="btn btn-outline-info btn-xs"
                                title="Mean Square Error"
                                data-toggle="popover"
                                data-trigger="focus"
                                data-placement="right"
                                data-content="A mean squared error of zero indicates perfect skill, or no error."
                                data-original-title="MSE">
                                    <i class="fa fa-info-circle fa-xs"></i>
                        </button>
                        MSE
                    </td>
					<td>{{ mse }}</td>
				</tr>
				<tr>
					<td>
                        <button type="button"
                                class="btn btn-outline-info btn-xs"
                                title="Root Mean Square Error"
                                data-toggle="popover"
                                data-trigger="focus"
                                data-placement="right"
                                data-content="As with the mean squared error, an RMSE of zero indicates no error."
                                data-original-title="MSE">
                                    <i class="fa fa-info-circle fa-xs"></i>
                        </button>
                        RMSE
                    </td>
					<td>{{ rmse }}</td>
				</tr>
			</tbody>
		</table>
	</div>
    {% endif %}

    <div>
      {% include "footer.html" %}
    </div>

{% endblock %}