{% extends "base.html" %}
{% block content %}
    <legend>Price forecasting</legend>
    <div class="table-responsive">
		<table class= "table table-sm">
            <tbody>
                <tr>
                <td><p class="text-success">
                    Symbol: <b>{{ symbol }}</b>
                    </p>
                </td>
                <td><p class="text-success">
                        Model: <b>{{ forecast_model_name }}</b>
                    </p>
                </td>
                <td><p class="text-success">
                        Lookback: <b>{{ forecast_lookback }} day(s)</b>
                    </p>
                </td>
                </tr>
                <tr>
                <td><p class="text-success">
                        Forecast date: <b>{{ forecast_date }}</b>
                    </p>
                </td>
                <td><p class="text-success">
                        Forecast: <b>{{ forecast_time }}
                    day(s)</b>
                    </p>
                </td>
                <td><p class="text-success">
                        Forecast final date: <b>{{ forecast_final_date }}</b>
                    </p>
                </td>
                </tr>
            </tbody>
        </table>
    </div>

    {{ div_placeholder_stock_prices_pred }}
    <br><br>
    {% if model == "ARIMA" %}
        <div class="table-responsive">
            {{ daily_return_percentage | safe }}
        </div>
    {% elif model == "XGBoost" %}
        <div class="table-responsive-md">
            {{ daily_return_percentage | safe }}
        </div>
    {% elif model == "KNN" %}
        <div class="table-responsive-md">
            {{ daily_return_percentage | safe }}
        </div>
    {% else %}
        <div class="table-responsive">
		    {{ daily_return_percentage | safe }}
	    </div>
    {% endif %}

    <div>
      {% include "footer.html" %}
    </div>

{% endblock %}