{% extends "base.html" %}
{% block content %}


  <div class="row">
    <div class="card mb-3" style="max-width: 20rem;">

      <img style="height: 100%; width: 100%; display: block;" src="{{ url_for('static',filename='images/time_series.jpeg') }}">
      <h3 class="card-header">Time series</h3>
      <div class="card-body">
        <p class="card-text">We're going to take a look at the various kinds of statistics that we can take on time series data.</p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">More info</a>
      </div>

    </div>
    <div class="card mb-3" style="max-width: 20rem;">

      <img style="height: 100%; width: 100%; display: block;" src="{{ url_for('static',filename='images/trading.jpeg') }}">
      <h3 class="card-header">Trading</h3>
      <div class="card-body">
        <p class="card-text">We're going to take a look at the various kinds of statistics that we can take on time series data.</p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">More info</a>
      </div>

    </div>
    <div class="card mb-3" style="max-width: 20rem;">

      <img style="height: 100%; width: 100%; display: block;" src="{{ url_for('static',filename='images/q-learning.jpeg') }}">
      <h3 class="card-header">Q-Learning</h3>
      <div class="card-body">
        <p class="card-text">We're going to take a look at the various kinds of statistics that we can take on time series data.</p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">More info</a>
      </div>

    </div>
  </div>

{% endblock %}
