{% extends "base.html" %}



{% block content %}
    <legend>Forecastin prices Form</legend>
    {% if error %}
		<div class="card text-white  bg-danger mb-3" style="">
		  <div class="card-header">ERROR</div>
		  <div class="card-body">
			<h4 class="card-title">Downloading data.</h4>
			<button id="submitButton" class="btn btn-primary btn-lg btn-block" onclick="location.href = 'form';">Try again. </button>
		  </div>
		</div>
    {% else %}
        <br>
        <div class="card border-primary mb-3" >
          <div class="card-header">Start values</div>
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text">Introduce initial options.</p>
          </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4"/>
                            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    {% endif %}

<div>
  {% include "footer.html" %}
</div>

{% endblock %}
