{% extends "base.html" %}



{% block content %}
    <legend>Forecasting prices Form</legend>

    {% if error %}
		<div class="card text-white  bg-danger mb-3" style="">
		  <div class="card-header">ERROR</div>
		  <div class="card-body">
			<h4 class="card-title">Downloading data.</h4>
			<button id="submitButton" class="btn btn-primary btn-lg btn-block" onclick="location.href = 'form';">Try again. </button>
		  </div>
		</div>
    {% else %}
        <br>
        <div class="card border-primary mb-3" >
          <div class="card-header">Start values</div>
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text">Introduce initial options.</p>
          </div>
        </div>

        <form id="form" class="form" action = "/showforecastform" method = post>
         <fieldset>
             <!-- Datepicker -->
             {{ form.hidden_tag() }}
             <div class="form-group">
                {{ form.csrf_token }}<br>

                {{ form.forecastDate.label }} <br>
                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                    {{ form.forecastDate(class="form-control datetimepicker-input") }}
                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
             </div>

             <!-- Symbol -->
             {{ form.symbol.label }}<br>
                 <select name="ticker_select" class="custom-select">
                     {% for key,value in data.iterrows() %}
                           <option value="{{ value['Symbol'] }}">{{ value['Symbol'] }}</option>
                     {% endfor %}
                 </select>
                 <br><br>

             <!-- Model -->
             {{ form.modelSelection.label }}<br>
                 <select name="model_Selection" class="custom-select">
                     <option value=1>XGBoost</option>
                     <option value=2>KNN</option>
                     <option value=3>ARIMA</option>
                     <option value=4>LSTM</option>
                 </select>
                 <br><br>

             <!-- Forecast -->
             {{ form.forecastTime.label }}<br>
             <select name="forecast_Time" class="custom-select">
                 <option value=7>One week</option>
                 <option value=14>Two weeks</option>
                 <option value=30>1 month</option>
             </select>
             <br><br>

             <!-- Lookback -->
             {{ form.lookback.label }}<br>
             <select name="look_Back" class="custom-select">
                 <option value=30>One months</option>
                 <option value=90>Three months</option>
                 <option value=180>Six months</option>
             </select>
             <br><br>

             {{ form.submit(class_="btn btn-primary btn-lg btn-block", id="submitButton", onclick="modal();") }}

                <div class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </div>
                </div>

         </fieldset>
        </form>

    {% endif %}

<div>
  {% include "footer.html" %}
</div>

{% endblock %}
