{% extends "base.html" %}

{% block content %}
    <legend>Learning Trading Agent</legend>
    {% if error %}
		<div class="card text-white  bg-danger mb-3" style="">
		  <div class="card-header">ERROR</div>
		  <div class="card-body">
			<h4 class="card-title">Downloading data.</h4>
			<button id="submitButton" class="btn btn-primary btn-lg btn-block" onclick="location.href = 'form';">Try again. </button>
		  </div>
		</div>
    {% else %}
        <br>
        <div class="card border-primary mb-3" >
          <div class="card-header">Start values</div>
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text">Introduce your porfolio initial values.</p>
          </div>
        </div>


          {% for message in form.start_val.errors %}
             <div>{{ message }}</div>
          {% endfor %}

          {% for message in form.symbol.errors %}
             <div>{{ message }}</div>
          {% endfor %}

          {% for message in form.num_shares.errors %}
             <div>{{ message }}</div>
          {% endfor %}



          <form id="form" class="form" action = "/showvalues" method = post>
             <fieldset>
                 {{ form.hidden_tag() }}

                 <!-- Datepicker -->
                 <div class="form-group">
                    {{ form.csrf_token }}<br>

                    {{ form.forecastDate.label }} <br>
                    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                        {{ form.forecastDate(class="form-control datetimepicker-input") }}
                        <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                 </div>

                <!-- Initial capital -->
                <div class="form-group">
                    {{ form.csrf_token }}<br>
                    {{ form.start_val.label }} {{ form.start_val(class_="form-control", size=10, value=100000) }} <br>

                    <!-- Stock symbol -->
                    {{ form.symbol.label }}<br>
                    <select name="ticker_select" class="custom-select">
                        {% for key,value in data.iterrows() %}
                              <option value="{{ value['Symbol'] }}">{{ value['Symbol'] }}</option>
                        {% endfor %}
                    </select>
                    <br><br>

                    <!-- Commision -->
                    {{ form.commission.label }} {{ form.commission(class_="form-control", size=4, value=0.00) }}<br>

                    <!-- Impact -->
                    {{ form.impact.label }} {{ form.impact(class_="form-control", size=4, value=0.00) }}<br>

                    <!-- Shares number -->
                    {{ form.num_shares.label }} {{ form.num_shares(class_="form-control", size=10, value=1000) }}<br>

                   <br>
                    {{ form.submit(class_="btn btn-primary btn-lg btn-block", id="submitButton", onclick="modal();") }}

                    <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content" style="width: 48px">
                                <span class="fa fa-spinner fa-spin fa-3x"></span>
                            </div>
                        </div>
                    </div>
                </div>

             </fieldset>
          </form>
    {% endif %}

<div>
  {% include "footer.html" %}
</div>

{% endblock %}
