<!doctype html>
<html>
   <body>
   
      <h2 style = "text-align: center;">Start Values Form</h2>
		
      {% for message in form.start_val.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      
      {% for message in form.symbol.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      
      {% for message in form.num_shares.errors %}
         <div>{{ message }}</div>
      {% endfor %}
       
      <form action = "/predict" method = post>
         <fieldset>
            <legend>Start Values Form</legend>
            {{ form.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                {{ form.csrf_token }}{{ form.start_val.label }}<br> 
                {{ form.start_val(size=10, value=100000) }} <br>
                {{ form.symbol.label }} {{ form.symbol(size=4, value="AMZN") }}<br>
                {{ form.commission.label }} {{ form.commission(size=4, value=0.00) }}<br>
                {{ form.impact.label }} {{ form.impact(size=4, value=0.00) }}<br>
                {{ form.num_shares.label }} {{ form.num_shares(size=10, value=1000) }}<br>
                
               <br>
               {{ form.submit }}
            </div>
            
         </fieldset>
      </form>
      
   </body>
</html>